{
  "printWidth": 85,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": true,
  "tabWidth": 2,
  "semi": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": [
        "framework/saleor/**/*"
      ],
      "options": {
        "printWidth": 120
      }
    }
  ]
}